uvicorn
fastapi
selenium
bs4
webdriver_manager
playwright
psycopg2
pyspark
SQLAlchemy
numpy
langchain_google_genai
pytest
pandas
openpyxl
pgvector
google-generativeai
ruff
starlette
posthog
redis[hiredis]
gunicorn
uvicorn
uvloop
httptools
kronicler
